#root {
  --pink: #ffbec4;
  --green: #78d6a2;
  max-width: 1280px;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
  padding: 0;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding: 5%;
  background-size: contain;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

  @media (max-width: 700px) {
    width: 45%;
  }
}

.logo {
  object-fit: contain;
  box-sizing: border-box;
  will-change: filter;
  transition: filter 300ms;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  border-radius: 50%;
  border: black 3px solid;

}

.logo:hover {
  transform: scale(1.2);
}

.card-container {

  bottom: 0px;
  justify-self: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.card {
  min-width: 50px;
  min-height: 50px;
  color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0;
  transition: all 0.2s ease;

  @media (max-width: 600px) {
    min-width: 40px;
    min-height: 40px;
  }
}

.card:hover {
  transform: scale(1.1);
}